<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<head>
</head>

<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <!-- Default box -->
            <div class="card card-outline card-primary">
                <button type="button" class="btn btn-default" onclick="showQueryView()">查詢</button>
                <button id="btn_show_create" type="button" class="btn btn-default" onclick="showCreateView()">新增
                </button>
                <div class="card-header">
                    <h3 class="card-title">資料列表</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="datalist" class="table table-bordered table-hover display">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div th:replace="resources/datatable"></div>
    <div th:replace="module/student/fragments/modals :: modal-query"></div>
    <div th:replace="module/student/fragments/modals :: modal-empty"></div>

    <!-- page script -->
    <script>
        var emptyModal;
        emptyModal = $('#modal-empty');
        queryModal = $('#modal-query');

        var dataTable = $('#datalist').DataTable({
            "autoWidth": false,
            serverSide: true,
            ajax: {
                contentType: 'application/json',
                type: 'POST',
                url: '/student/search/simpleQuery',
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {
                    data: "id"
                },
                {
                    data: "name",
                },
                {
                    data: "age"
                },
                {
                    //這裡的data變數值為sysid，相等於row.sysid
                    data: "id",//資料行繫結屬性
                    orderable: false, // 禁用排序
                    render: function (data, type, row, meta) {
                        //row指的是資料列物件 data變數相等於row.sysid
                        return "<button id='btn-show-detail' type='button' data-toggle='modal' data-target='#model-form'  onclick='showDetailView(" + data + ")' >detail</button>" + "<button id='btn-show-update' type='button' data-toggle='modal' data-target='#model-form'  onclick='showUpdateView(" + data + ")' >update</button>"
                            + "<button id='btn-show-delete' type='button' data-toggle='modal' data-target='#model-form'  onclick='showDeleteView(" + data + ")' >delete</button>";

                    }
                }
            ]
        });

        // 查詢表單控制項
        var qId = $('#form-query input#q_id');
        var qName = $('#form-query input#q_name');
        var qAge = $('#form-query input#q_age');

        qId.on('change', function () {
            dataTable.column(0).search(qId.val())
        });
        qName.on('change', function () {
            dataTable.column(1).search(qName.val())
        });
        qAge.on('change', function () {
            dataTable.column(2).search(qAge.val())
        });

        //crud按鈕觸發事件
        var onBtnQueryConfirmSubmit = function (e) {
            dataTable.draw();
            queryModal.modal('hide');
            e.preventDefault();
        }
        var onBtnCreateConfirmSubmit = function (e) {
            $.ajax({
                type: "POST",
                url: '/student',
                data: $(this).serialize(), // serializes the form's elements.
                success: function (data, textStatus, xhr) {
                    let ct = xhr.getResponseHeader("content-type")
                    if (ct.indexOf('html') > -1) {
                        setModalHtml(data,'新增');
                    }
                    if (ct.indexOf('json') > -1) {
                        // handle json here
                        let json = data;
                        showSuccessToast('新增成功');
                        showDetailView(json.payload);
                        dataTable.ajax.reload();
                    }
                }
            });
            e.preventDefault();
        }
        var onBtnUpdateConfirmSubmit = function (e) {
            $.ajax({
                type: "PUT",
                url: '/student/' + $(this).find('#id').val(),
                data: $(this).serialize(), // serializes the form's elements.
                success: function (data, textStatus, xhr) {
                    let ct = xhr.getResponseHeader("content-type")
                    if (ct.indexOf('html') > -1) {
                        setModalHtml(data,'修改');
                    }
                    if (ct.indexOf('json') > -1) {
                        let json = data;
                        showSuccessToast('修改成功');
                        showDetailView(json.payload);
                        dataTable.ajax.reload();
                    }
                }
            });
            e.preventDefault();
        }
        var onBtnDeleteConfirmSubmit = function (e) {
            $.ajax({
                type: "DELETE",
                url: '/student/' + $(this).find('#id').val(),
                data: $(this).serialize(), // serializes the form's elements.
                success: function (data, textStatus, xhr) {
                    let ct = xhr.getResponseHeader("content-type")
                    if (ct.indexOf('html') > -1) {
                        setModalHtml(data,'刪除');
                    }
                    if (ct.indexOf('json') > -1) {
                        let json = data;
                        showSuccessToast('刪除成功');
                        $('#modal-empty-button').click();
                        dataTable.ajax.reload();
                        emptyModal.modal('hide');
                    }
                }
            });
            e.preventDefault();
        }


        $('#form-query').submit(onBtnQueryConfirmSubmit);

        function setModalHtml(data,title) {
            $('#modal-empty .modal-title').text(title)
            $('#modal-empty .modal-body').html(data);
        }

        //叫出Modal
        function showCreateView() {
            $.get('/student/create')
                .done(function (data) {
                    setModalHtml(data,'新增');
                    $('#form-create').bind("submit", onBtnCreateConfirmSubmit);
                    emptyModal.modal('show');
                });
        }

        function showDetailView(id) {
            $.get('/student/' + id,)
                .done(function (data) {
                    setModalHtml(data,'詳細資料');
                    emptyModal.modal('show');
                });
        }

        function showUpdateView(id) {
            $.get('/student/' + id + '/update',)
                .done(function (data) {
                    setModalHtml(data,'修改');
                    $('#form-update').bind("submit", onBtnUpdateConfirmSubmit);
                    emptyModal.modal('show');
                });
        }

        function showDeleteView(id) {
            $.get('/student/' + id + '/delete',)
                .done(function (data) {
                    setModalHtml(data,'刪除');
                    $('#form-delete').bind("submit", onBtnDeleteConfirmSubmit);
                    emptyModal.modal('show');
                });
        }

        function showQueryView() {
            queryModal.modal('show');
        }

        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 3000
        });

        function showSuccessToast(title) {
            Toast.fire({
                icon: 'success',
                title: title
            })
        }

    </script>
</div>
</body>
</html>
