<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<form id="form-deleted" class="form-horizontal"
      th:fragment="deleted_form"
      th:object="${formData}">
    <div class="card-body">
        <input th:field="*{id}" type="hidden" class="form-control" placeholder="Id" readonly>
        <div style="text-align:center;color:#ff0000;font-size:18px;">是否確定刪除</div>
        <div class="modal-footer justify-content-between">
            <button id="btn-create-close" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="btn-create-confirm" type="submit" class="btn btn-primary">確定</button>
        </div>
    </div>
</form>
</html>