<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--新增視窗-->
<form id="form-create" class="form-horizontal"
      th:fragment="form-create"
      th:object="${formData}">
    <div class="card-body">
        <div class="form-group row">
            <label for="userName" class="col-sm-2 col-form-label">userName</label>
            <div class="col-sm-10">
                <input th:field="*{userName}" type="text" class="form-control" placeholder="userName">
            </div>
            <small class="text-red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></small>
        </div>
        <div class="form-group row">
            <label for="roles" class="col-sm-2 col-form-label">roles</label>
            <div class="col-sm-10">
                <input th:field="*{roles}" type="text" class="form-control" placeholder="roles">
            </div>
            <small class="text-red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></small>
        </div>
        <div class="modal-footer justify-content-between">
            <button id="btn-create-close" type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button id="btn-create-confirm" type="submit" class="btn btn-primary">確定</button>
        </div>
    </div>
</form>

<!--修改視窗-->
<form id="form-update" class="form-horizontal"
      th:fragment="form-update">
    <div class="card-body">
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <input th:field="*{user.id}" type="text" class="form-control" placeholder="Id" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="userName" class="col-sm-2 col-form-label">userName</label>
            <div class="col-sm-10">
                <input th:field="*{user.userName}" type="text" class="form-control" placeholder="userName">
            </div>
            <small class="text-red" th:if="${#fields.hasErrors('user.userName')}" th:errors="*{user.userName}"></small>
        </div>
        <div class="row">
            <label for="roles" class="col-sm-3 col-form-label">roles</label>
            <div class="row">
                <!-- radio -->
                <div class="col-sm-6" th:each="roleGroups:${roles}">
                    <div class="form-group" th:each="role:${roleGroups}" style="display: inline-block">
                        <input class="form-check-input" type="checkbox" name="roles" th:value="${role.id}"
                               th:checked="${#lists.contains(user.roles, #strings.toString(role.id))}" />
                        <label class="form-check-label" th:text="${role.name}" ></label>
                    </div>
                </div>
            </div>
            <small class="text-red" th:if="${#fields.hasErrors('user.roles')}" th:errors="*{user.roles}"></small>
        </div>
        <div class="modal-footer justify-content-between">
            <button id="btn-create-close" type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button id="btn-create-confirm" type="submit" class="btn btn-primary">確定</button>
        </div>
    </div>
</form>

<!--刪除視窗-->
<form id="form-delete" class="form-horizontal"
      th:fragment="form-delete"
      th:object="${formData}">
    <div class="card-body">
        <input th:field="*{id}" type="hidden" class="form-control" placeholder="Id" readonly>
        <div style="text-align:center;color:#ff0000;font-size:18px;">是否確定刪除</div>
        <div class="modal-footer justify-content-between">
            <button id="btn-create-close" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="btn-create-confirm" type="submit" class="btn btn-danger">確定</button>
        </div>
    </div>
</form>

<!--詳細資料視窗-->
<form id="form-detail" class="form-horizontal"
      th:fragment="form-detail">
    <div class="card-body">
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <input th:field="*{user.id}" type="text" class="form-control" placeholder="Id" disabled>
            </div>
        </div>
        <div class="form-group row">
            <label for="userName" class="col-sm-2 col-form-label">userName</label>
            <div class="col-sm-10">
                <input th:field="*{user.userName}" type="text" class="form-control" placeholder="userName" disabled>
            </div>
        </div>
        <div class="row">
            <label for="roles" class="col-sm-3 col-form-label">roles</label>
            <div class="row">
                <!-- radio -->
                <div class="col-sm-6" th:each="roleGroups:${roles}">
                    <div class="form-group" th:each="role:${roleGroups}" style="display: inline-block">
                        <input class="form-check-input" type="checkbox" name="roles" th:value="${role.id}" disabled
                               th:checked="${#lists.contains(user.roles, #strings.toString(role.id))}" />
                        <label class="form-check-label" th:text="${role.name}" ></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button id="btn-detail-close" type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
        </div>
    </div>
</form>

</html>