<!--<!DOCTYPE html>-->

<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">-->

<!--<head th:replace="fragments/header :: header">-->
<!--    <title>Header</title>-->
<!--</head>-->

<!--<body class="fix-header fix-sidebar card-no-border">-->
<!--&lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Preloader - style you can find in spinners.css &ndash;&gt;-->
<!--&lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--<div class="preloader">-->
<!--    <svg class="circular" viewBox="25 25 50 50">-->
<!--        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>-->
<!--    </svg>-->
<!--</div>-->
<!--&lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Main wrapper - style you can find in pages.scss &ndash;&gt;-->
<!--&lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--<div id="main-wrapper">-->
<!--    &lt;!&ndash; Topbar header - style you can find in pages.scss &ndash;&gt;-->
<!--    <div th:replace="fragments/navigation :: navigation"></div>-->
<!--    &lt;!&ndash; Left Sidebar - style you can find in sidebar.scss  &ndash;&gt;-->
<!--    <div th:replace="fragments/sidebar :: sidebar"></div>-->
<!--    &lt;!&ndash; Page wrapper  &ndash;&gt;-->
<!--    <div class="page-wrapper" id="mainContent">-->
<!--        <div layout:fragment="content"></div>-->
<!--        <div th:replace="fragments/footer :: footer"></div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--&lt;!&ndash; End Wrapper &ndash;&gt;-->
<!--&lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--</body>-->

<!--</html>-->
